@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900");
@import url("https://fonts.googleapis.com/css?family=DM+Sans");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  margin-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bolder;
  color: black;
  border-radius: 8px;
  text-align: justify;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  main {
    margin-top: 180px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.nav-logo {
  margin-top: 33px;
  margin-left: 30px;
}
@media screen and (min-width: 992px) {
  .nav-logo {
    margin-top: 53px;
    margin-left: 100px;
  }
}
.nav-logo img {
  width: 103px;
  height: 19px;
}
@media screen and (min-width: 992px) {
  .nav-logo img {
    height: 50px;
    width: 282px;
  }
}

.nav-menu {
  box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.2509803922);
  display: none;
  position: fixed;
  top: 75px;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .nav-menu {
    box-shadow: none;
    position: initial;
    display: inline-flex;
    width: initial;
    margin-top: 60px;
    margin-right: 20px;
  }
}
.nav-menu a {
  display: block;
  height: 100px;
  line-height: 100px;
  background-color: #FFF;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
}
@media screen and (min-width: 992px) {
  .nav-menu a {
    height: 30px;
    line-height: 30px;
    padding: 9px 12px 9px 13px;
  }
}
.nav-menu a:hover, .nav-menu a.active {
  background-color: #FE142F;
  color: #ffffff;
}
@media screen and (min-width: 992px) {
  .nav-menu a:hover, .nav-menu a.active {
    border-radius: 15px;
  }
}
.nav-menu a.active {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.nav-icon {
  display: block;
  position: fixed;
  right: 30px;
  top: 38px;
  color: #FF001B;
}
@media screen and (min-width: 992px) {
  .nav-icon {
    display: none;
  }
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #FFF;
  position: fixed;
}
header h1 {
  text-indent: -10000px;
}
header .nav {
  display: flex;
}
@media screen and (min-width: 992px) {
  header .nav {
    background-color: #FFF;
  }
}

footer {
  font-family: "Roboto", serif;
  color: #FE142F;
  margin-top: 99px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.hero {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.hero img {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .hero {
    background-color: #232323;
  }
}
@media screen and (min-width: 992px) {
  .hero {
    background-color: #232323;
    background-repeat: no-repeat;
    border-radius: 8px;
    gap: 72px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.2509803922);
    padding: 56px 0px 70px 53px;
  }
}
.hero-headline {
  color: #000;
  text-align: left;
  font-size: 40px;
}
@media screen and (min-width: 992px) {
  .hero-headline {
    font-size: 96px;
    color: #FFF;
    margin-top: 0px;
    max-width: 887px;
  }
}
.hero-text {
  font-size: 13px;
  color: #000;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
  line-height: 17px;
  margin-top: 17px;
}
@media screen and (min-width: 992px) {
  .hero-text {
    font-size: 24px;
    font-weight: 400;
    width: 430px;
    line-height: 31px;
    color: #FFF;
  }
}

.btn-tab-desk {
  display: none;
}
@media screen and (min-width: 768px) {
  .btn-tab-desk {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .btn-mobile-only {
    display: none;
  }
}

.btn {
  background: #FE142F;
  border: none;
  color: #FFF;
  font-family: "DM Sans", sans-serif;
}
.btn-hero {
  padding: 11px 30px 11px 30px;
  width: 199px;
  height: 55px;
  font-size: 25px;
  line-height: 32px;
  border-radius: 5px;
}
.btn-submit {
  padding: 11px 30px 11px 30px;
  width: 199px;
  height: 55px;
  font-size: 25px;
  line-height: 32px;
  border-radius: 5px;
}
.btn:hover {
  background: #3876ac;
}

.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: normal;
}

.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}

.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}

.checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: #279e7a;
}

.checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}

.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}

.modal-container {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.modal {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: 0.8s;
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.modal-close:before,
.modal-close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.modal-close:before {
  transform: rotate(45deg);
}

.modal-close:after {
  transform: rotate(-45deg);
}

.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
/* Base */
/* Pages */

/*# sourceMappingURL=styles.css.map */
