@use "../utils/mixins" as m;
@use "../utils/colors" as c;
@use "../utils/fonts" as f;
.hero{
  background-image: url("../../img/background.jpg");
  /* to position the element 10px from the right */
  background-position: left 500px top;
  background-size:cover;
  background-repeat:no-repeat;
  background-color: c.$grey;
  border-radius: 8px;
  height:657px;
  box-shadow: 0px 12px 12px 0px #00000040;
  &-headline{
    font-size: 96px;
    padding-left:56px;
    padding-top:53px;
    margin-top:73px;
    margin-bottom: 73px;
    color: c.$white;
  }
  &-text{
    margin-left:56px;
    width: 430px;
    color: c.$white;
    font-family: f.$dm-sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0px;
    text-align: left;
  }
}
