@use "../utils/fonts" as f;
@use "../utils/colors" as c;
@use "../utils/mixins" as m;


.topnav {
	overflow: hidden;
	margin: 3.5%;
	@include m.m768{
		position:relative;
		.topnav-main-navbar {
			display:none;
		}
	}
	a {	
		float: left;
		display: block;
		color: c.$black;
		text-align: center;
		padding: 12px 12px;
		margin: 5px;
		text-decoration: none;
		font-size: 20px;
		font-family: f.$roboto;
		@include m.m540{
			display: none;
		}
		@include m.m768{
			display:none;
		}
		&.icon{
			color: c.$red;
    	float: right;
    	display: block;
		}
		&:hover {
			background-color: c.$topnav-red;
			color: c.$white;
			border-radius: 15px;
			&.icon{
				color: c.$white;		
			}
		}
		@include m.m540{
			.icon{
				color: c.$red;
				float: right;
				display: block;
			}
		}
	}
	&.active{
		background-color: c.$topnav-red;
		color: c.$white;
		border-radius: 15px;
	}
	.icon {
		display: none;
	}
	&-header-logo{
		float:left;
	}
	&-main-navbar{
		float:right;
		@include m.m768{
			display:none;
		}
	}
	@include m.m768{
		>.topnav-main-navbar{
			display:none;
			animation-name:hide;
			animation-duration:1s;
		}
		&.mobile{
			.topnav-main-navbar{
				display: block;
				animation-name: show;
				animation-duration: 1s;
				margin-right: 45px;		
			}
			.icon{
				position: absolute;
				right: 0;
				top: 0;
				color: red;
			}
			a{
				float: none;
    		display: block;
    		text-align: left;
			}
		}
	}	
}