@use "../utils/fonts" as f;
@use "../utils/colors" as c;
@use "../utils/mixins" as m;
@use "../animations/a-menu" as a;

.topnav{
	display:flex;
	justify-content: space-between;
	a.icon{
		display:none;
		@include m.m768{
			display:block;
		}
	}
	@include m.m768{
		&-menu{
			display: none;
		}
	}
	align-items: center;
  height: 90px;
}