@use "../../style/utils/fonts" as f;
@use "../../style/utils/colors" as c;
@use "../../style/utils/mixins" as m;
@use "../../style/components/buttons.scss";

:root {
  --modal-duration: 0.8s;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: f.$dm-sans;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  max-width: 1300px;
  margin: 0 auto;
}
p {
  margin-bottom: 0;
  padding: 0.5vw;
}
img {
  padding-right: 1rem;
}

main {
  font-size: 130%;
  font-weight: bolder;
  color: c.$black;
  padding-top: 0.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 1px 20px 15px;
  border-radius: 2rem;
  text-align: justify;
}
