@use "../utils/colors.scss" as c;
@use "../utils/fonts.scss" as f;


.btn{
  background: c.$red;
  border: none;
  color:c.$white;
  font-family: f.$dm-sans;
  &-hero{
    padding:11px 30px 11px 30px;
    width:199px;
    height:55px;
    font-size:25px;
    line-height: 32px;
    border-radius: 5px;
  }
  &:hover{
    background: c.$blue;
  }
}