@use "../utils/colors" as c;

.button {
  background: c.$red;
  margin-top: 0.5em;
  padding: 1em;
  color: c.$white;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background: c.$blue;
}

.modal-btn {
  font-size: 145%;
  background: c.$red;
  display: flex;
  margin: auto;
  padding: 2em;
  color: c.$white;
  padding: 0.75rem 2.5rem;
  border-radius: 1rem;
  cursor: pointer;

}

.modal-btn:hover {
  background: c.$blue;
}
