@use "../utils/fonts" as f;
@use "../utils/colors" as c;
@use "../utils/mixins" as m;

.topnav{
  overflow: hidden;
  margin: 3.5%;
  &-header-logo {
    float: left;
  }
  &-main-navbar {
    float: right;
  }
  &-header-logo {
    float: left;
  }
  .icon{
    display: none;
  }
  a{
    float: left;
    display: block;
    color: c.$black;
    text-align: center;
    padding: 12px 12px;
    margin: 5px;
    text-decoration: none;
    font-size: 20px;
    font-family: f.$roboto;
    @include m.m768{
      display:none;
      &.icon{
        float: right;
        display: block;
      }

    }
    @include m.m540{
      display: none;
    }
    &:hover,.active{
      background-color: c.$topnav-red;
      color: c.$white;
      border-radius: 15px;
    }
  }
  @include m.m768{
    &.mobile {
      position: relative;
      a {
        float: none;
        display: block;
        text-align: left;
      }
      .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}