@use "../utils/fonts" as f;
@use "../utils/colors" as c;
@use "../utils/mixins" as m;

.btn{
	background : c.$red;
	color: c.$white;
	cursor: pointer;
	&:hover {
		background: c.$blue;
	}
	&-submit {
		border: 0;
		padding: 1em;
		border-radius: 15px;
		font-size: 16px;
	}
	&-signup {
		margin: 0 auto;
		margin-top: 59px;	
		border-radius: 7px;
		font-size: 1rem;
		border: 0;
		text-transform: capitalize;
		font-size: 1.3rem;
		padding: 15px 23px;
	}
	&-close {
		position: absolute;
		right: 15px;
		top: 15px;
		width: 32px;
		height: 32px;
		opacity: 1;
		cursor: pointer;
		transform: scale(0.7);
		&:before {
			position: absolute;
			left: 15px;
			content: " ";
			height: 33px;
			width: 3px;
			background-color: c.$white;
			transform: rotate(45deg);
		}
		&:after {
			position: absolute;
			left: 15px;
			content: " ";
			height: 33px;
			width: 3px;
			background-color: c.$white;
			transform: rotate(-45deg);
		}
	}
}