@use "../utils/fonts" as f;
@use "../utils/colors" as c;
@use "../utils/mixins" as m;

.button {
	background: #fe142f;
	margin-top: 0.5em;
	padding: 1em;
	color: c.$white;
	border-radius: 15px;
	cursor: pointer;
	font-size: 16px;
	&:hover {
		background: #3876ac;
	}
}

.modal-btn {
	font-size: 145%;
	background: #fe142f;
	display: flex;
	margin: auto;
	padding: 2em;
	color: c.$white;
	padding: 0.75rem 2.5rem;
	border-radius: 1rem;
	cursor: pointer;
	&:hover {
		background: #3876ac;
	}
}