$topnav-red:#ff0000;
$red:#FE142F;
$red-icon:#FF001B;
$red-form:#e54858;
$red-border:#f00;
$black:#000;
$white:#FFF;
$other-light-grey:#c4c4c4;
$light-grey:#CCC;
$grey:#232323;
$blue:#3876ac;
$background-blue: rgba(26, 39, 156, 0.4);
$background-green: #279e7a;
$color-dark:rgba(0, 0, 0, 0.1);
