@use "../../utils/mixins" as m;

.nav{
  &-logo{
    margin-top:33px;
    margin-left:30px;
    @include m.desktop{
      margin-top: 53px;
      margin-left:100px;
    }
    img{
      width:103px;
      height:19px;
      @include m.desktop{
        height:50px;
        width:282px;
      }
    }
  }
}
