@use "../../utils/mixins" as m;
@use "../../utils/colors" as c;
@use "../../utils/fonts" as f;

.nav{
  &-menu{
    box-shadow: 0px 12px 12px 0px #00000040;
    display: none;
    position: fixed;
    top:75px;
    width: 100%;
    @include m.desktop{
      box-shadow: none;
      position: initial;
      display: inline-flex;
      width: initial;
      margin-top:60px;
      margin-right:20px;
    }
    a{
      display: block;
      height: 100px;
      line-height: 100px;
      background-color: c.$white;
      color: c.$black;
      text-align: center;
      text-decoration: none;
      font-size: 18px;
      font-family: f.$dm-sans;
      @include m.desktop{
        height: 30px;
        line-height: 30px;
        padding:9px 12px 9px 13px ;
      }
      &:hover, &.active{
        background-color: c.$red;
        color: #ffffff;
        @include m.desktop{
          border-radius: 15px;
        }
      }
      &.active{
        text-decoration: underline;
        text-underline-offset: 6px;
      }
    }
  } 
}