@use "../utils/fonts" as f;

:root{
    font-family: f.$dm-sans;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

body {
    font-family: f.$dm-sans;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}