@use "../utils/fonts" as f;
@use "../utils/colors" as c;
@use "../utils/mixins" as m;

:root {
	--modal-duration: 0.8s;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: f.$dm-sans;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-size: 18px;
	max-width: 1300px;
	margin: 0 auto;
}
p {
	margin-bottom: 0;
	padding: 0.5vw;
}
img {
	padding-right: 1rem;
}