@use "../utils/fonts" as f;
@use "../utils/colors" as c;
@use "../utils/mixins" as m;

:root {
	--modal-duration: 0.8s;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: f.$dm-sans;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-size: 18px;
	max-width: 1300px;
	margin: 0 auto;
}
p {
	margin-bottom: 0;
	padding: 0.5vw;
}
img {
	padding-right: 1rem;
}

@keyframes open {
	from {
		opacity: 0;
		transform: translateY(-150px);
	}
	to {
		opacity: 1;
	}
}

@keyframes hide {
	0% {
		opacity: 1;
		}
	90% {
		opacity: 0;
	}
	100% {
		display:none;
		opacity: 0;
		z-index:-1;
	}
}
