@use "../utils/fonts" as f;
@use "../utils/colors" as c; 
@use "../utils/mixins" as m;

main {
  margin-top:80px;
  padding-left:30px;
  padding-right:30px;
  font-weight: bolder;
  color: black;
  border-radius: 8px;
  text-align: justify;
  justify-content: center;
  @include m.desktop{
    margin-top:180px;
    padding-left:100px;
    padding-right:100px;
  }
}
