@use "../utils/fonts" as f;
@use "../utils/colors" as c;
@use "../utils/mixins" as m;


/* Landing Page */
/* Modal form */
/* 
input[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: red;
} */

main {
	font-size: 130%;
	font-weight: bolder;
	color: c.$black;
	padding-top: 0.5vw;
	padding-left: 2vw;
	padding-right: 2vw;
	margin: 1px 20px 15px;
	border-radius: 2rem;
	text-align: justify;
}
