@use "../../style/utils/fonts" as f;
@use "../../style/utils/colors" as c;
@use "../../style/utils/mixins" as m;

.topnav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 180px;
  padding-left: 35px;
  padding-right: 35px;
  @include m.mdesktop {
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 1000;
    background-color: #fff;
  }
  &-menu {
    display: flex;
    a {
      color: c.$black;
      padding: 8px 11px;
      text-decoration: none;
      border-radius: 8px;
      &:hover,
      &.active {
        text-decoration: underline;
        background-color: c.$red;
        color: c.$white;
      }
    }

    @include m.mdesktop {
      display: none;
      flex-direction: column;
      &.open {
        display: block;
        z-index: 1000;
        position: fixed;
        top: 90px;
        width: calc(100% - 70px);
        border-radius: 10px;
        background-color: rgba(255, 0, 0, 0.5);
        a {
          padding: 8px;
          border-radius: 8px;
          display: flex;
          justify-content: center;
          color: c.$white;
          text-decoration: none;
          &:hover,
          &.active {
            color: c.$white;
            background-color: c.$red;
          }
        }
      }
      &.hide {
        display: none;
      }
      @include m.hideandshow;
    }
  }
  .icon {
    color: c.$red;
    display: none;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 10px;
    color: inherit;

    @media screen and (max-width: 968px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .fa-bars {
    color: c.$red;
    font-size: 1.5rem;
  }
}
