@use "../../utils/colors" as c;
@use "../../utils/fonts" as f; 
@use "../../utils/mixins" as m; 

footer{
  font-family:f.$roboto;
  color: c.$red;
  margin-top: 99px;
  margin-bottom: 20px;
  padding-left: 20px;
}