@use "../../utils/mixins" as m; 
@use "../../utils/colors" as c;
@use "../../components/menu";


header{
  display: flex;
  justify-content: space-between;
  width:100%;
  background-color: c.$white ;
  position: fixed;
  h1{
    text-indent: -10000px;
  }
  .nav{
    display:flex;
    @include m.desktop{
      background-color: c.$white;
    }    
  }
}