@use "../../style/utils/fonts" as f;
@use "../../style/utils/colors" as c;
@use "../../style/utils/mixins" as m;

footer {
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 0 20px;
  &.footer {
    margin: 20px;
    padding: 10px;
    font-family: f.$dm-sans;
  }
  .copyrights {
    color: c.$red;
    padding: 0;
    font-size: 1rem;
    margin: 60px 0 30px;
    font-weight: bolder;
    @include m.mdesktop {
      margin-top: 50px;
      text-align: center;
    }
  }
}
