@use "breakpoints" as b;

@mixin mdesktop {
    @media screen and (max-width: map-get(b.$breakpoints, mdesktop)){
        @content;
    }
}

@mixin hideandshow{
    &.hide{
        display:block;
        animation-name: hide;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
    &.open{
        display: block;
        animation-name: open;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
    }
}